*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(239, 238, 238);
  color: rgb(14, 14, 14);
  justify-content: center;
  align-items: center;

}

body,html{
  overflow-x: hidden;
  width: 100%;
}

.app-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.app-details textarea{
  width: 70vh;
  
  
  padding: 1rem;
  
  font-size: 1.5rem;}


  h1, h4{
    color: rgb(100, 170, 170);
    text-transform: uppercase;
  }
  .output{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    max-width: 100vh;
    font-size: 2rem;
  }
  .output span{
    font-weight: 900;
  }
  .output span:nth-child(even){
    color: rgb(207, 61, 17);
  }
  .output span:nth-child(odd){
    color: rgb(64, 133, 133)
  }


  @media screen and (max-width: 800px) {
    .app-details textarea{
     width: 100%;
    }

    
  }

